* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

:root {
    --verde: rgb(77, 170, 134);
    --sectionbackgroud: rgb(250, 250, 250);
    --textgray: rgb(109, 108, 108);
    ;
}




/*---------------------------NAVEGATION---------------------------------*/

nav {
    display: flex;
    height: 50px;
    align-items: center;

}

nav div.justsimpledivinleft {
    height: 100%;
    width: 10%;
    border: 1px solid rgb(138, 137, 137);
}

ul {
    display: flex;
}

ul.scrollINdocument {
    border-bottom: 1px solid rgb(138, 137, 137);
    border-top: 1px solid rgb(138, 137, 137);
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
}

ul.EntrarRegistrar {
    width: 20%;
    height: 100%;
    border: 1px solid rgb(138, 137, 137);
    align-items: center;
}

li {
    list-style: none;
    margin-left: 30px;
    cursor: pointer;
}

/*----------------------------END NAVEGATION SECTION ------------------*/






/*-------------------------------------- SECTION BEGIN --------------------------------------------------------------*/

section.begin {
    height: 450px;
    padding-top: 100px;
    padding-left: 150px;
    background-color: rgb(50, 54, 53);
}

h1,
h2 {
    font-size: 20pt;
    max-width: 500px;
    font-weight: 100;
    line-height: 40px;
}

h1 {
    color: white;
}

h2 {
    color: gray;
}

button.BtnEncontrarTrabalho {
    margin-top: 30px;
    margin-left: 10px;
    background-color: var(--verde);
    color: rgb(255, 249, 249);
    font-size: 12pt;
    width: 130px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.forminputPROCURA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
}

input.txtinputPROCURA {
    /* Tell the input to use all the available space */
    width: 80%;
    border: none;
    margin-left: 15px;
    font-size: 11pt;
    height: 100%;

}

input.txtinputPROCURA:focus {
    outline: none;
}

button.BtnProcurar {
    background-color: var(--verde);
    color: rgb(255, 249, 249);
    font-size: 12pt;
    width: 80px;
    height: 80%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.details-container {
    display: flex;
    margin-top: 50px;

}

p.Number-details {
    color: white;
    font-size: 16pt;
}

p.Name-details {
    color: rgb(161, 160, 160);
}

span.span-details-project,
.span-details-Jobs,
.span-details-freelancers {
    padding: 0 40px 0 0;
}

span.span-details-project,
.span-details-Jobs {
    border-right: 1px gray solid;
}

.span-details-Jobs,
.span-details-freelancers {
    padding-left: 40px;
}

/*------------------------------------------END SECTION BEGIN ----------------------------------------*/





/*---------------------------- SECTION CategoriasDeProjeto--------------------------------------------*/

.CategoriasDeProjeto {

    background-color: var(--sectionbackgroud);
    padding-top: 65px;
}

p.title {
    margin-bottom: 30px;
    font-size: 18pt;
    text-align: center;
}

.Grupscard_project_flex {
    display: flex;
    column-gap: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    width: 80%;
    margin: auto;
}

.CategoriasDeProjeto_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 168px;
}

p.CategoriasDeProjeto_number {
    background-color: rgb(201, 201, 201);
    width: 12%;
    text-align: center;
    margin: 20px 0 20px 0;
}

p.CategoriasDeProjeto_description {
    text-align: center;
    width: 100%;
}

/*---------------------------------- end SECTION CategoriasDeProjeto ----------------------------------*/









/*----------------------------- SECTION como funciona --------------------------------------------------*/

section.comofunciona {
    padding-top: 65px;
}

div.Grupscard_howitwork_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    height: 300px;
    width: 80%;
    margin: auto;
}

div.CategoriaDeComoFunciona_div {
    display: block;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
}

p.CategoriaDeComoFunciona_title {
    font-size: 14pt;
    margin: 20px 0 20px 0;
}

p.CategoriaDeComoFunciona_description {
    color: var(--textgray);
    font-size: 11pt;

}

/*------------------------------- end SECTION como funciona ----------------------------------------------*/








/*------------------------------- SECTION ultimosprojetos ------------------------------------------------*/

.ultimosprojetos {
    background-color: var(--sectionbackgroud);
    padding: 60px 160px 0 160px;
}

.textTitle-P_ultimosprojetos_div {
    display: flex;
    align-items: center;
}

p.title_utlimosprojetos {
    font-size: 18pt;
}

p.p_ProcurarProjetos {
    color: var(--verde);
    margin-left: auto;
}

.Grupscard_ultimosprojetos_flex {
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgb(226, 226, 226);
}

.CardsUltimoProjeto:nth-last-of-type(2n +1){
    background-color: #f9f9f9;
}

/*-------cartT1 have a green color border left---*/
.cardT1_ultimosprojetos_div {
    display: flex;
    border-top-left-radius: 2px;
    padding: 30px 30px 30px 30px;
    border-left: 3px solid var(--verde);

}

.cardT2_ultimosprojetos_div {
    display: flex;
    border-top-left-radius: 2px;
    padding: 30px 30px 30px 30px;
    /*background-color: rgb(248, 248, 248);*/
}

.card_ultimosprojetos_title {
    font-size: 14pt;
    margin-bottom: 5px;
}

.card_ultimosprojetos_typeUrgent {
    background-color: rgb(255, 242, 215);
    width: 60px;
    padding: 3px;
    text-align: center;
    color: rgb(141, 119, 67);
    font-size: 11pt;
}

.card_ultimosprojetos_typeDestaque {
    background-color: rgb(227, 232, 255);
    width: 60px;
    padding: 3px;
    text-align: center;
    color: rgb(0, 126, 165);
    font-size: 11pt;
}

.card_ultimosprojetos_detalhes {
    display: flex;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 11pt;
}

.card_ultimosprojetos_atributos_div {
    display: flex;

}

.card_ultimosprojetos_atributos {
    background-color: rgb(226, 253, 237);
    font-size: 11pt;
    color: rgb(103, 155, 139);
    margin-right: 10px;
    padding: 8px;
}

.card_ultimosprojetos_quantlances,
.card_ultimosprojetos_lancemedios {
    margin-right: 20px;
}

.card_ultimosprojetos_meses,
.card_ultimosprojetos_quantlances,
.card_ultimosprojetos_lancemedios {
    color: var(--textgray);
}

.cardT1Left,
.cardT2Left {
    width: 85%;
}

.card_ultimosprojetos_price {
    font-size: 12pt;
}

.card_ultimosprojetos_priceDescription {
    margin-top: 5px;
    color: var(--textgray);
}

.card_ultimosprojetos_buttonSubmit {
    font-size: 12pt;
    padding: 8px 30px 8px 30px;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    color: white;
    background-color: rgb(31, 153, 127);
}

/*---------------------------------- END ultimosprojetos -------------------------------------------------*/